div.hero-unit textarea {
	height: 200px;
	width: 100%;
}

div.hero-unit {
	padding: 30px;
}

h2.entry-subject {
	cursor:pointer;
}

div.entry {
	margin-bottom: 5px;
	padding-left: 10px;
}

div.entry-body-close {
	display: none;
}

div.entry-body {
	padding-left: 30px;
	padding-bottom: 10px;
}

div.entry h2 {
	font-size: large;
	margin-top: 0px;
}

div.entry hr {
	margin: 10px 0;
}

div.entry-body-footer textarea {
	height: 100px;
	width: 100%;
}

div.alert-block ul {
	padding-top: 10px;
}

blockquote p{
	margin-bottom: 10px;
}

div.entry span.entry-date {
	font-size: small;
	color: grey;
	padding-left: 10px;
}
